@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.eot');
    src: url('../fonts/Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kanit-Regular.woff2') format('woff2'),
        url('../fonts/Kanit-Regular.woff') format('woff'),
        url('../fonts/Kanit-Regular.ttf') format('truetype'),
        url('../fonts/Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#app,#main-intro {
    width: 1024px;
    height: 1366px;
}

a, button, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: transparent;
}

body {
    padding: 0;
    margin: auto;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}
span, p, .title {
    font-family: 'Kanit', sans-serif;
}
